.div-login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
}

.div-login-button-container {
  margin-bottom: 10px;
  margin-top: 50px;
}

.div-login-input-container {
  margin-bottom: 30px;
}
