<app-menu [openDiary]="true" [openFood]="false"></app-menu>
<div class="div-diary-title-container">
  <h2>{{ CONSTANTS.LABEL.MENU_DIARY }}</h2>
</div>
<hr/>
<div class="div-diary-container">
  <app-button
    [style]="CONSTANTS.STYLE.BUTTON_MAIN_CIRCLE_BIG"
    [type]="CONSTANTS.STYLE.ICON_DELETE"
    (onClick)="deleteEvent()"
  />
</div>
<div class="div-diary-bottom-container" *ngIf="diaryDataList.length > 0">
  <app-table
    [columnNames]="CONSTANTS.TABLE.TABLE_HEADERS_AGEND"
    [dataSourceList]="diaryDataList"
    [displayedColumns]="CONSTANTS.TABLE.TABLE_BODY_AGEND"
    (onClick)="editEvent($event)"
  ></app-table>
</div>
